*.npy
*.csv
*.txt
*.xlsx
*__pycache__/
*.DS_Store
*checkpoints/
wandb/


#multi_simu.py 
#visu_multi.ipynb
#results/simu_aucs.json
#results/simu_aucs_std.json
#run_multi.sh
#temp.sh

!requirements.txt

